html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.navbar .welcome {
    min-width: 400px;
}

.alert .close-icon {
    display: inline-block;
    float: right;
    margin-right: 0px;
    cursor: pointer;
}